/* SCSS by Mamo YZ
https://mamoyz.com/ */
* {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #ddd;
}

a {
  color: inherit;
  text-decoration: none;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.border-radius {
  border-radius: 12px;
}

.red {
  color: red;
}

.blue {
  color: #9cb8e5 !important;
}

.purple {
  color: #bc9ce5 !important;
}

.pointer {
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  border: none;
  outline: 0;
  font: 300 16px/24px "Titillium Web";
  letter-spacing: 0.8px;
  color: #ffffff;
  background-color: #bc9ce5;
  cursor: pointer;
  padding: 6px 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
button:disabled {
  background-color: #414141;
}
@media (max-width: 767px) {
  button {
    font: 300 9px/12px "Titillium Web";
    padding: 3px 6px;
  }
}

/** Sliding Image Loader */
@keyframes slide {
  0% {
    right: -100px; /* Starting position of the image */
  }
  50% {
    right: calc(50% - 50px); /* Move the image to the middle */
    animation-delay: 1s;
  }
  100% {
    right: 100%; /* Disappear from the left */
  }
}
.image-loader {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1019607843);
}
.image-loader img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

@keyframes flip {
  0%, 100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(-180deg);
  }
  50% {
    transform: rotateX(-180deg) rotateY(-180deg);
  }
  75% {
    transform: rotateX(-180deg) rotateY(0deg);
  }
}
.dot-loader {
  width: 60%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  background-size: cover;
  border-radius: 12px;
  perspective: 500px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1019607843);
}
.dot-loader:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  background: #bc9ce5;
  border-radius: 50%;
  transform-origin: 100% 100%;
  animation: flip 2s linear infinite;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
  width: 100%;
  margin: auto;
}
.container.wide {
  max-width: 90%;
}
@media (max-width: 1023px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-margin {
  margin-top: 8vw;
}
@media (max-width: 1023px) {
  .header-margin {
    margin-top: 16vw;
  }
}
@media (max-width: 767px) {
  .header-margin {
    margin-top: 220px;
  }
}

.countdown {
  position: fixed;
  bottom: 60px;
  right: 100px;
  color: red;
  font-weight: 600;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  z-index: 100;
}
@media (max-width: 1023px) {
  header {
    display: block;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 767px) {
  header .header-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
}
header .header-wrapper #logo {
  flex: 0 1 160px;
}
header .header-wrapper #logo img {
  width: 100%;
  display: block;
}
@media (min-width: 1024px) {
  header .header-wrapper .mobile-menu {
    display: none;
  }
}
header .header-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-wrapper ul li a {
  font: 300 16px/24px "Titillium Web";
  letter-spacing: 3.36px;
  color: #000000;
  text-transform: uppercase;
  padding: 0 15px;
}
header .header-wrapper ul li a img {
  width: 20px;
  vertical-align: bottom;
}
header .header-wrapper ul li a#login {
  color: #bc9ce5;
  font-weight: 600;
}
@media (max-width: 1023px) {
  header .header-wrapper ul li a {
    font: 300 12px/18px "Titillium Web";
  }
}
@media (max-width: 1023px) {
  header .header-wrapper ul li:after {
    display: none;
  }
}
header .header-wrapper ul li:last-child::after {
  display: none;
}
header .header-wrapper .header-cta {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  opacity: 1;
  padding: 15px 35px;
  font: 600 16px/24px "Titillium Web";
  letter-spacing: 1.6px;
  color: #000000;
  margin-left: 20px;
  transition: all 0.3s;
}
header .header-wrapper .header-cta:hover {
  background: #000;
  color: #fff;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #f8f8f8;
  position: relative;
}
.intro .intro-login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #bc9ce5;
  font: 600 16px/24px "Titillium Web";
  letter-spacing: 3.36px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.intro .intro-login-btn img {
  margin-right: 10px;
  width: 20px;
}
.intro h1 {
  text-align: center;
  font: 600 70px/106px "Titillium Web";
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .intro h1 {
    font: 600 40px/60px "Titillium Web";
  }
}
.intro .tw p {
  margin: 0;
  text-align: center;
  font: 300 30px/46px "Titillium Web";
  letter-spacing: 1.8px;
  color: #919191;
}
@media (max-width: 767px) {
  .intro .tw p {
    font: 300 22px/36px "Titillium Web";
  }
}
.intro #scroll {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.intro #scroll span {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font: 600 20px/31px "Titillium Web";
  letter-spacing: 4.2px;
  color: #bc9ce5;
}
@media (max-width: 767px) {
  .intro #scroll span {
    font: 600 16px/28px "Titillium Web";
    letter-spacing: 2px;
  }
}
.intro #scroll svg {
  animation: 2s bounce 2s infinite forwards;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.btn-submit {
  padding: 20px 30px;
  background: #000000;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  -webkit-appearance: none;
  outline: 0;
  border: none;
  text-align: center;
  font: 400 16px/24px "Titillium Web";
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms;
}
.btn-submit:hover {
  background: #333;
}

.main {
  padding-top: 110px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1023px) {
  .main {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .main {
    height: auto;
    padding-top: 50px;
  }
}
.main .container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
}
@media (max-width: 1023px) {
  .main .container {
    justify-content: center;
  }
}
.main .col-6 {
  flex: 0 1 50%;
}
@media (max-width: 1023px) {
  .main .col-6 {
    flex: auto;
  }
}
.main h2 {
  text-align: left;
  font: 600 75px/90px "Titillium Web";
  color: #000000;
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  .main h2 {
    font: 600 60px/75px "Titillium Web";
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .main h2 {
    font: 600 32px/48px "Titillium Web";
  }
}
.main h3 {
  text-align: left;
  font: 300 25px/51px "Titillium Web";
  letter-spacing: 0.75px;
  margin-top: 0;
  margin-bottom: 75px;
}
@media (max-width: 1023px) {
  .main h3 {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main h3 {
    font: 300 20px/35px "Titillium Web";
  }
}
.main .signup-form {
  background: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
  opacity: 1;
  padding: 30px;
}
.main .signup-form form {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  .main .signup-form form {
    flex-direction: column;
    align-items: stretch;
  }
}
.main .signup-form input {
  height: 50px;
  margin-right: 50px;
  -webkit-appearance: none;
  border: none;
  border-bottom: 3px solid #e0d1f3;
  flex: auto;
  outline: 0;
  font: 200 22px/34px "Titillium Web";
  letter-spacing: 0.66px;
  color: #000;
}
@media (max-width: 1023px) {
  .main .signup-form input {
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}

.about {
  padding-top: 180px;
  padding-bottom: 150px;
  background: #f5f5f5;
}
@media (max-width: 1023px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.about .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
@media (max-width: 1023px) {
  .about .row {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
  }
}
.about .row:last-child {
  margin-bottom: 0;
}
.about .row h3 {
  text-align: left;
  font: 600 60px/75px "Titillium Web";
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  margin: 0;
}
@media (max-width: 767px) {
  .about .row h3 {
    font: 600 32px/48px "Titillium Web";
  }
}
.about .row p {
  text-align: left;
  font: 300 28px/40px "Titillium Web";
  letter-spacing: 0.84px;
  color: #000000;
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .about .row p {
    font: 300 20px/36px "Titillium Web";
  }
}
.about .row li::marker {
  font-size: 28px;
}
.about .row > div:nth-child(1) {
  flex: 0 1 42%;
}
@media (max-width: 1023px) {
  .about .row > div:nth-child(1) {
    flex: auto;
  }
}
.about .row > div:nth-child(2) {
  flex: 0 1 50%;
}
@media (max-width: 1023px) {
  .about .row > div:nth-child(2) {
    flex: auto;
  }
}
.about .row.row2 {
  flex-direction: row-reverse;
}
@media (max-width: 1023px) {
  .about .row.row2 {
    flex-direction: column-reverse;
  }
}
.about .row.row2 > div:nth-child(1) {
  flex: 0 1 46%;
}
.about .row.row2 > div:nth-child(2) img {
  width: 100%;
  display: block;
  box-shadow: 0 47px 55px rgba(0, 0, 0, 0.1803921569);
  border-radius: 8px;
}
@media (max-width: 1023px) {
  .about .row.row2 > div:nth-child(2) img {
    margin-bottom: 50px;
  }
}

.sec-title, .signup h2, .how-it-works h2 {
  text-align: center;
  font: 600 75px/90px "Titillium Web";
  letter-spacing: 0;
  opacity: 1;
  margin-top: 0;
}
@media (max-width: 1023px) {
  .sec-title, .signup h2, .how-it-works h2 {
    font: 600 55px/70px "Titillium Web";
  }
}
@media (max-width: 767px) {
  .sec-title, .signup h2, .how-it-works h2 {
    font: 600 34px/48px "Titillium Web";
  }
}

.partners {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.partners h2 {
  color: #000000;
  font: 600 38px/55px "Titillium Web";
  max-width: 70%;
  margin: 0 auto 80px;
}
@media (max-width: 1023px) {
  .partners h2 {
    max-width: 100%;
    margin: 0 auto 50px;
  }
}
@media (max-width: 767px) {
  .partners h2 {
    font: 600 24px/36px "Titillium Web";
  }
}
.partners .logos-slider {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.partners .logos-slider .logo-slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  float: left;
  position: relative;
}
.partners .logos-slider .logo-slider-wrapper:first-child {
  animation: 25s slider infinite linear;
}
.partners .logos-slider .logo-slider-wrapper .logo-item {
  flex: auto;
  margin-right: 50px;
  width: 200px;
  text-align: center;
}
.partners .logos-slider .logo-slider-wrapper .logo-item img {
  width: auto;
  max-height: 100px;
  max-width: 100%;
}

@keyframes slider {
  to {
    margin-left: -3500px;
  }
}
.how-it-works {
  display: flex;
  align-items: center;
  height: 100vh;
}
@media (max-width: 1023px) {
  .how-it-works {
    height: auto;
    padding-top: 80px;
  }
}
.how-it-works h2 {
  color: #000000;
  margin-bottom: 100px;
}
.how-it-works .items-container {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  .how-it-works .items-container {
    flex-direction: column;
  }
}
.how-it-works .items-container .item {
  flex: 0 1 33.33%;
  padding: 0 45px;
  text-align: center;
}
@media (max-width: 1023px) {
  .how-it-works .items-container .item {
    flex: auto;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .how-it-works .items-container .item {
    padding: 0 0;
  }
}
.how-it-works .items-container .item .item-img {
  height: 100px;
}
.how-it-works .items-container .item .item-img img {
  height: 100%;
  width: auto;
}
.how-it-works .items-container .item h3 {
  text-align: center;
  font: 300 40px/75px "Titillium Web";
  letter-spacing: 0;
  color: #000000;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .how-it-works .items-container .item h3 {
    font: 300 34px/48px "Titillium Web";
  }
}
.how-it-works .items-container .item p {
  text-align: center;
  font: 300 24px/36px "Titillium Web";
  letter-spacing: 0;
  color: #000000;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .how-it-works .items-container .item p {
    font: 300 20px/36px "Titillium Web";
  }
}

.signup {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background: #494949;
  text-align: center;
}
.signup h2 {
  margin-bottom: 50px;
}
.signup h3 {
  text-align: center;
  font: 300 25px/51px "Titillium Web";
  letter-spacing: 0.75px;
  color: #ffffff;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .signup h3 {
    font: 300 18px/30px "Titillium Web";
  }
}
.signup .signup-form {
  opacity: 1;
  padding: 30px;
}
.signup .signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.signup .signup-form input {
  height: 70px;
  -webkit-appearance: none;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.18);
  flex: auto;
  outline: 0;
  font: 200 22px/34px Titillium Web;
  letter-spacing: 0.66px;
  color: #fff;
  background: transparent;
  min-width: 500px;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .signup .signup-form input {
    min-width: 100%;
  }
}
.signup .signup-form input::placeholder {
  color: #fff;
}

footer {
  background: #414141;
  padding: 50px 0;
  text-align: center;
  font: 300 18px/42px "Titillium Web";
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
footer p {
  margin: 0;
}
footer a:hover {
  text-decoration: underline;
}

.search-box {
  border-radius: 10px;
  z-index: 110;
  top: 0;
  left: 210px;
  max-width: 600px;
  transition: all 0.3s;
  max-height: 110px;
  transform: scale(1);
  transform-origin: top;
}
@media (max-width: 767px) {
  .search-box {
    width: 100%;
  }
}
.search-box.header-search-box {
  position: fixed;
  display: none;
}
.search-box.inline-search-box {
  margin: 30px auto 0;
}
@media (max-width: 767px) {
  .search-box.inline-search-box {
    margin: 0 auto;
  }
}
.search-box .search-box-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0.8rem;
}
@media (max-width: 1023px) {
  .search-box .search-box-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
  position: relative;
  bottom: 4.8vw;
  text-align: left;
  margin-left: 3.4rem;
  margin-right: 5rem;
  font: 300 22px/4vw "Titillium Web";
  color: #919191;
  width: fit-content;
}
@media (min-width: 2300px) {
  .search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 105px;
  }
}
@media (max-width: 1023px) {
  .search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 76px;
    margin-left: 3.5rem;
  }
}
@media (max-width: 767px) {
  .search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 70px;
    margin-left: 3.5rem;
    font: 300 18px/4.5vw "Titillium Web";
  }
}
.search-box .search-box-wrapper [class^=search-with-typed-] {
  font: 300 15px/4vw "Titillium Web";
}
@media (max-width: 1023px) {
  .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 77px;
    margin-right: 4.2rem;
    width: 80%;
    font: 300 15px/3vw "Titillium Web";
  }
}
@media (max-width: 767px) {
  .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 77px;
    width: 60%;
    margin-right: 4.2rem;
    font: 300 12px/3.5vw "Titillium Web";
  }
}
.search-box .search-box-wrapper .search-top {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.search-box .search-box-wrapper .search-top:before {
  content: " ";
  width: 22px;
  height: 22px;
  background: url("../img/right-arrow-purp.svg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 45px;
  left: 20px;
}
.search-box .search-box-wrapper .search-top .keyword {
  background: #f2f2f2;
  border-radius: 100px;
  height: 63px;
  border: none;
  outline: 0;
  padding-left: 60px;
  padding-right: 30px;
  text-align: left;
  font: 300 15px/23px "Titillium Web";
  color: #484848;
  margin-right: 20px;
  flex: auto;
}
@media (max-width: 767px) {
  .search-box .search-box-wrapper .search-top .keyword {
    margin-right: 0;
  }
}
.search-box .search-box-wrapper .search-top button {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  outline: 0;
  font: 300 16px/24px "Titillium Web";
  letter-spacing: 0.8px;
  color: #bc9ce5;
  cursor: pointer;
  text-transform: uppercase;
  visibility: hidden;
}
.search-box .search-box-wrapper .search-body .placeholder {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 30px;
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s all 0s;
}
.search-box .search-box-wrapper .search-body .placeholder p {
  font: 400 19px/29px "Titillium Web";
  letter-spacing: 0.95px;
  color: #000000;
  opacity: 1;
}
.search-box .search-box-wrapper .search-body .search-loader {
  text-align: center;
}
.search-box .search-box-wrapper .search-body .search-loader img {
  width: 150px;
  height: 150px;
}
.search-box .search-box-wrapper .search-body .quick-access {
  display: flex;
  flex-direction: left;
  justify-content: center;
  gap: 12px;
  margin-bottom: 52px;
  flex-wrap: wrap;
}
.search-box .search-box-wrapper .search-body .quick-access .quick-access-button {
  height: 50px;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .search-box .search-box-wrapper .search-body .quick-access .quick-access-button {
    height: 40px;
  }
}
.search-box .search-box-wrapper .search-body .quick-access .quick-access-button:hover {
  transition: font-weight 0.2s ease-in-out, transform 1s;
  transition: box-shadow 0.2s ease-in-out, transform 1s;
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-box .search-box-wrapper .search-body .result-list {
  list-style: none;
  padding: 0 0 30px 0;
  margin: 0;
}
.search-box .search-box-wrapper .search-body .result-list li {
  text-align: left;
  font: 300 20px/31px "Titillium Web";
  letter-spacing: 0.4px;
  color: #000000;
  border-radius: 8px;
  padding: 10px 20px;
}
.search-box .search-box-wrapper .search-body .result-list li a {
  color: inherit;
  text-decoration: none;
}
.search-box .search-box-wrapper .search-body .result-list li a img {
  width: 1.04vw;
}
.search-box .search-box-wrapper .search-body .result-list li.active {
  background: rgba(188, 156, 229, 0.1607843137);
  font-weight: 600;
}
.search-box .search-box-wrapper .search-body .suggestion-list {
  border-top: 1px solid #d4d4d4;
  list-style: none;
  padding: 15px 0 30px 0;
  margin: 15px 0 0 0;
}
.search-box .search-box-wrapper .search-body .suggestion-list li {
  text-align: left;
  font: 300 20px/31px "Titillium Web";
  letter-spacing: 0.4px;
  color: #a1a1a1;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
.search-box .search-box-wrapper .search-body .suggestion-list li a {
  color: inherit;
  text-decoration: none;
}
.search-box .search-box-wrapper .search-body .suggestion-list li.active {
  font-weight: 600;
}
.search-box.searching {
  background: #fff;
  box-shadow: 46px 101px 250px rgba(0, 0, 0, 0.3490196078);
  transition: max-height 0.5s ease-in-out, transform 1s;
  transition: max-width 0.3s ease-in-out, transform 1s;
  max-height: 700px;
  max-width: 1100px;
  transform: scale(1.1);
}
.search-box.searching.header-search-box {
  transform: scale(1.1);
}
.search-box.searching.inline-search-box {
  transform: scale(1.03);
}
@media (max-width: 1023px) {
  .search-box.searching {
    display: block;
    transform: scale(1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
}
.search-box.searching .search-box-wrapper .search-top button {
  visibility: visible;
}
.search-box.searching .search-box-wrapper .search-body .placeholder {
  opacity: 1;
  transform: translate(0, 0);
  transition: 0.3s all 0.3s;
}

#particles-js {
  background-color: transparent;
  z-index: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#particles-js canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 1023px) {
  #particles-js canvas {
    opacity: 0.5;
  }
}

@media (max-width: 1023px) {
  .hidden-xs {
    display: none !important;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-bar {
  width: 36vw;
}
.header-bar .header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #bc9ce5;
}
.header-bar .header-item span {
  color: #bc9ce5;
}

.clickable-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.clickable-div .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.signin-body {
  padding: 16px 8px;
  width: 32vh;
  margin: 0 auto 16px auto;
}

.signin-box {
  display: flex;
  height: fit-content;
  margin: 16px auto;
  border-radius: 10px;
  z-index: 110;
  top: 0;
  left: 210px;
  max-width: 600px;
  transition: all 0.3s;
  transform: scale(1);
  transform-origin: top;
  background: #fff;
  box-shadow: 46px 101px 250px rgba(0, 0, 0, 0.3490196078);
}

.customize .container .tab-view {
  display: flex;
  gap: 40px;
}
.customize .container .tab-view .side-bar {
  max-width: 400px;
  border-right: 2px solid rgba(0, 0, 0, 0.2117647059);
}
.customize .container .tab-view .tab-item {
  cursor: pointer;
  padding: 0 30px;
  border-top: 2px solid rgba(0, 0, 0, 0.2117647059);
}
.customize .container .tab-view .tab-item:hover {
  background-color: rgb(191, 252, 100);
}
.customize .container .tab-preview {
  flex-grow: 3;
}
@media (max-width: 767px) {
  .customize {
    margin-top: 70px;
  }
}

.imagine-list {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}
.imagine-list .list-item {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.imagine-list .list-item:last-child {
  margin-bottom: 0;
}
.imagine-list .list-item .item-category,
.imagine-list .list-item .item-category-input,
.imagine-list .list-item .item-chosen-style,
.imagine-list .list-item .item-date,
.imagine-list .list-item .item-session-id,
.imagine-list .list-item .item-is-ended {
  margin-bottom: 10px;
}
.imagine-list .list-item .item-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.imagine-list .list-item .item-date {
  color: #999999;
}
.imagine-list .list-item .item-is-ended {
  color: #0055ff;
}
.imagine-list .list-item .item-is-ended.true {
  color: #ff0000;
}

.inline-search {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.inline-search .inline-search-box {
  margin: 6px 30px;
}
@media (max-width: 767px) {
  .inline-search .inline-search-box {
    margin: 0 auto;
  }
}

.main-text {
  color: #bc9ce5;
  font-weight: 600;
  font-size: 16pt;
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imagine-img {
  width: 100%;
  height: auto;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-bottom: 12px;
}

.imagine-title {
  margin-bottom: 0.9rem;
}

.first-imagine {
  position: relative;
  width: fit-content;
  height: fit-content;
  width: 1rem auto;
  margin-right: 30px;
  margin-bottom: 30px;
}
.first-imagine [class$=-quadrant] {
  position: absolute;
  background: rgba(211, 211, 211, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(211, 211, 211);
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .first-imagine [class$=-quadrant] {
    font-size: 0.6rem;
  }
}
.first-imagine [class$=-quadrant]:hover {
  background: transparent;
}
.first-imagine [class$=-quadrant] > button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.first-imagine [class$=-quadrant] > button.sm {
  font-size: 0.8rem;
  padding: 4px;
}
.first-imagine .first-quadrant {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top-left-radius: 12px;
}
.first-imagine .second-quadrant {
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  border-top-right-radius: 12px;
}
.first-imagine .third-quadrant {
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;
  border-bottom-left-radius: 12px;
}
.first-imagine .forth-quadrant {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-bottom-right-radius: 12px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.loader-container .loading-text {
  max-width: 300px;
  text-align: center;
  margin-top: 12px;
  font-weight: 500;
}

.header-info {
  color: #bc9ce5;
}
.header-info div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

@media (min-width: 1024px) and (max-width: 1919px) {
  /* SCSS by Mamo YZ
  https://mamoyz.com/ */
  .container {
    padding-left: 0.78vw;
    padding-right: 0.78vw;
    max-width: 83.33vw;
  }
  header {
    height: 5.73vw;
  }
  header .header-wrapper {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  header .header-wrapper.transparent {
    background-color: transparent;
    box-shadow: none;
  }
  header .header-wrapper #logo {
    flex: 0 1 8.33vw;
  }
  header .header-wrapper ul li a {
    font: 300 0.83vw/1.25vw "Titillium Web";
    letter-spacing: 0.18vw;
    padding: 0 0.78vw;
  }
  header .header-wrapper .header-cta {
    border: 0.1vw solid #000000;
    border-radius: 0.52vw;
    padding: 0.78vw 1.82vw;
    font: 600 0.83vw/1.25vw "Titillium Web";
    letter-spacing: 0.08vw;
    margin-left: 1.04vw;
  }
  .intro {
    overflow-y: hidden;
  }
  .intro .intro-login-btn {
    top: 1.04vw;
    right: 1.04vw;
    font: 600 0.83vw/1.25vw "Titillium Web";
    letter-spacing: 0.18vw;
  }
  .intro .intro-login-btn img {
    margin-right: 0.52vw;
    width: 1.04vw;
  }
  .intro h1 {
    font: 600 3.65vw/5.52vw "Titillium Web";
    margin-bottom: 0.52vw;
  }
  .intro .tw p {
    font: 300 1.56vw/2.4vw "Titillium Web";
    letter-spacing: 0.09vw;
  }
  .intro #scroll {
    bottom: 1.04vw;
  }
  .intro #scroll span {
    margin-bottom: 0.78vw;
    font: 600 1.04vw/1.61vw "Titillium Web";
    letter-spacing: 0.22vw;
  }
  @keyframes bounce {
    40% {
      transform: translate(0, -0.52vw);
    }
  }
  .btn-submit {
    padding: 1.04vw 1.56vw;
    border-radius: 0.42vw;
    font: 400 0.83vw/1.25vw "Titillium Web";
    letter-spacing: 0.08vw;
  }
  .main {
    padding-top: 5.73vw;
  }
  .main h2 {
    font: 600 3.91vw/4.69vw "Titillium Web";
    margin-bottom: 2.6vw;
  }
  .main h3 {
    font: 300 1.3vw/2.66vw "Titillium Web";
    letter-spacing: 0.04vw;
    margin-bottom: 3.91vw;
  }
  .main .signup-form {
    box-shadow: 0 0 2.08vw rgba(0, 0, 0, 0.1019607843);
    border-radius: 0.21vw;
    padding: 1.56vw;
  }
  .main .signup-form input {
    height: 2.6vw;
    margin-right: 2.6vw;
    border-bottom: 0.16vw solid #e0d1f3;
    font: 200 1.15vw/1.77vw "Titillium Web";
    letter-spacing: 0.03vw;
  }
  .about {
    padding-top: 9.38vw;
    padding-bottom: 7.81vw;
  }
  .about .row {
    margin-bottom: 10.4vw;
  }
  .about .row h3 {
    font: 600 3.12vw/3.91vw "Titillium Web";
  }
  .about .row p {
    font: 300 1.46vw/2.08vw "Titillium Web";
    letter-spacing: 0.04vw;
    margin-top: 0.78vw;
  }
  .about .row li::marker {
    font-size: 1.46vw;
  }
  .about .row.row2 > div:nth-child(2) img {
    box-shadow: 0 2.45vw 2.86vw rgba(0, 0, 0, 0.1803921569);
    border-radius: 0.42vw;
  }
  .sec-title, .how-it-works h2, .signup h2 {
    font: 600 3.91vw/4.69vw "Titillium Web";
  }
  .partners {
    padding-top: 5.21vw;
    padding-bottom: 5.21vw;
    border-bottom: 0.05vw solid #ccc;
  }
  .partners h2 {
    font: 600 1.98vw/2.86vw "Titillium Web";
    margin: 0 auto 4.17vw;
  }
  .partners .logos-slider .logo-slider-wrapper .logo-item {
    margin-right: 2.6vw;
    min-width: 10.42vw;
  }
  .partners .logos-slider .logo-slider-wrapper .logo-item img {
    max-height: 5.21vw;
  }
  .how-it-works h2 {
    margin-bottom: 5.21vw;
  }
  .how-it-works .items-container .item {
    padding: 0 2.34vw;
  }
  .how-it-works .items-container .item .item-img {
    height: 5.21vw;
  }
  .how-it-works .items-container .item h3 {
    font: 300 2.08vw/3.91vw "Titillium Web";
    margin-top: 1.04vw;
  }
  .how-it-works .items-container .item p {
    font: 300 1.25vw/1.88vw "Titillium Web";
  }
  .signup {
    padding-top: 5.21vw;
    padding-bottom: 5.21vw;
  }
  .signup h2 {
    margin-bottom: 2.6vw;
  }
  .signup h3 {
    font: 300 1.3vw/2.66vw "Titillium Web";
    letter-spacing: 0.04vw;
    margin-bottom: 1.04vw;
  }
  .signup .signup-form {
    padding: 1.56vw;
  }
  .signup .signup-form input {
    height: 3.65vw;
    border-bottom: 0.16vw solid rgba(255, 255, 255, 0.18);
    font: 200 1.15vw/1.77vw Titillium Web;
    letter-spacing: 0.03vw;
    min-width: 26.04vw;
    margin-bottom: 2.08vw;
  }
  footer {
    padding: 2.6vw 0;
    font: 300 0.94vw/2.19vw "Titillium Web";
    letter-spacing: 0.03vw;
  }
  .search-box {
    border-radius: 0.52vw;
    left: 10.94vw;
    width: 33.25vw;
    max-height: 5.73vw;
  }
  .search-box .search-box-wrapper {
    padding-left: 1.56vw;
    padding-right: 1.56vw;
  }
  .search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 3.55vw;
    font: 300 1.2vw/1.2vw "Titillium Web";
  }
}
@media (min-width: 1024px) and (max-width: 1919px) and (max-width: 767px) {
  .search-box .search-box-wrapper .search-with-typed, .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 4vw;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .search-box .search-box-wrapper [class^=search-with-typed-] {
    font: 300 0.78vw/1.2vw "Titillium Web";
  }
}
@media (min-width: 1024px) and (max-width: 1919px) and (max-width: 1023px) {
  .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 4vw;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) and (max-width: 767px) {
  .search-box .search-box-wrapper [class^=search-with-typed-] {
    bottom: 4vw;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .search-box .search-box-wrapper .search-top {
    height: 5.73vw;
  }
  .search-box .search-box-wrapper .search-top:before {
    width: 1.15vw;
    height: 1.15vw;
    top: 2.34vw;
    left: 1.04vw;
  }
  .search-box .search-box-wrapper .search-top .keyword {
    border-radius: 5.21vw;
    height: 3.28vw;
    padding-left: 3.13vw;
    padding-right: 1.56vw;
    font: 300 0.78vw/1.2vw "Titillium Web";
    margin-right: 1.04vw;
  }
  .search-box .search-box-wrapper .search-top .keyword.span {
    height: 4vw;
  }
  .search-box .search-box-wrapper .search-top button {
    font: 300 0.83vw/1.25vw "Titillium Web";
    letter-spacing: 0.04vw;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .search-box .search-box-wrapper .search-body .placeholder {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    transform: translate(0, 2.6vw);
  }
  .search-box .search-box-wrapper .search-body .placeholder p {
    font: 400 0.99vw/1.51vw "Titillium Web";
    letter-spacing: 0.05vw;
  }
  .search-box .search-box-wrapper .search-body .search-loader img {
    width: 7.81vw;
    height: 7.81vw;
  }
  .search-box .search-box-wrapper .search-body .result-list {
    padding: 0 0 2vw 0;
  }
  .search-box .search-box-wrapper .search-body .result-list li {
    font: 300 1.04vw/1.61vw "Titillium Web";
    letter-spacing: 0.02vw;
    border-radius: 0.42vw;
    padding: 0.52vw 1.04vw;
  }
  .search-box .search-box-wrapper .search-body .suggestion-list {
    border-top: 0.05vw solid #d4d4d4;
    padding: 0.78vw 0 1.56vw 0;
    margin: 0.78vw 0 0 0;
  }
  .search-box .search-box-wrapper .search-body .suggestion-list li {
    font: 300 1.04vw/1.61vw "Titillium Web";
    letter-spacing: 0.02vw;
    border-radius: 0.42vw;
    padding: 0.52vw 1.04vw;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .search-box.searching {
    box-shadow: 2.4vw 5.26vw 13.02vw rgba(0, 0, 0, 0.3490196078);
    width: 64.25vw;
    max-height: 60vw;
  }
}

/*# sourceMappingURL=app.css.map */
